
.topNav{
    background-color: #007878;
    
}
.topNavLeft{
    width: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.topNavLeft a, .topNavLeft i, .topNavRight a{
    color: white;
    text-decoration: none;
    font-size: 12px;
   
}
.topNavRight{
    display: flex;
   

}
.topNavRight div{
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.topNavRight div:first-child{
    width: 90px !important;
    padding-top: 5px;
    padding-bottom: 5px;

}
.topNavRight div:last-child{
    width: 130px !important; 
    padding-top: 5px;
    padding-bottom: 5px;

}
.centerNav{
    width: 100%;
    padding-top: 20px;
}
.centerNav input{
    border: none;
    background-color: #F7F7F7;

}
#search{
    background-color:  #F7F7F7;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}
#search input{
    width: 90%;
}
.centerNavInner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
    padding-top: 10px;
    font-size: 16px;
}
.centerNavInner i{
    font-size: 25px;
}
#basket{
    position: relative;
}
#badgeForShopping{
    position: absolute;
    font-size: 12px;
    color: white;
    width: 15px;
    border-radius: 4px;
    background-color: #007878;
    left: -4px;
    top: 13px;
    text-align: center;
}


.bottomNav ul li{
    font-size:16px ;
    padding:10px ;
}

/* navbar  section*/












/* Left Table */

.left-table{
    width: 100%;
    border: 1px solid #E4E4E4;
    margin-top: 50px;


}
.left-table tr td{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
}
.left-table tr td i{
    margin-left: 10px;
    font-size: 17px;
    margin-right: 20px;
}
.left-table .favoriteTd{
    background-color: #F9FBFB;
    border-left: 2px solid #007878;
}
.left-table .favoriteTd i, .left-table .favoriteTd span{
    color: #007878;

}
.code{
    font-size: 14px;
}

/* right Table */
#rightinside{
    margin-top: 30px;
}






.featuredOwl{
    position: relative;
    height: max-content;
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    padding-bottom: 20px;

}
.newSpan{
    color: white;
    width: max-content;
    padding: 8px;
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    background-color: #43D167;
}
.discountSpan{
    color: white;
    width: max-content;
    padding: 8px;
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    background-color: #DF4244;

}
.heardSpan{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: black;
}
.imageDiv {
    display: flex;
    justify-content: center !important;
    height: 220px;
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: center;

}

.imageDiv img {
    width: 212px !important;
    height: max-content;
}
.starSpan{
    color: #FFDD45;
}
.starSpan i:first-child{
    padding-left: 10px;
}
.featuredOwl p{
    font-size: 12px;
    padding: 10px;
}
.priceNew{
    padding: 10px;
    color: #DF4244;
    font-size: 16px;
    font-weight: bold;
   
}
.priceOld{
    color: #363636;
    font-size: 12px;
}
.mainFeatured{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.featuredOwl .divButton{
    border: 1px solid #363636;
    border-radius: 10px;
    width: 95%;
    margin: 10px;
    
    margin-top: 20px;
    padding-top: 10px;
    
    padding-bottom: 10px;
    text-align: center;
    
}

/* Footer */

.footer{
    background-color: #F7F7F9;
    margin-top: 50px;
    padding-bottom: 20px;
   
}
.footer h2{
    margin-top: 20px;
}
.footer #searchFooter{
    margin-top: 20px;
}
#searchFooter{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#searchFooter input{
    border: none;
    padding: 10px;
    margin-left: 10px;
    width: 70%;
}
#searchFooter i{
    padding: 10px;
    font-size: 20px;
}

/* Under Footer */

.underFooter{
    border-top: 1px solid grey;
    background-color: #F7F7F7;
    padding-bottom: 50px;
}
.footerP{
    margin-top: 60px;
    font-size: 16px;
    width: 55%;
    color: #212121;
    font-weight: 400;
    font-family: Poppins;
    line-height: 27.2px;
}
.footerLetter{
    margin-top: 30px;
    display: flex;  
}
.footerLetter span i{
    margin-right: 8px;
    color: #1D1D1B;
    
}
.footerMail{
    color: #212121;
    font-weight: 400;
    font-family: Poppins;
    line-height: 27.2px;
}
.footerNum{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #212121;
    margin-top: 20px;
}
.footerNum a{
    color: #212121;
    margin-left: 8px;

}
.buttonFooter{
    border: 1px solid #363636;
    border-radius: 7px;
    width: max-content;
    margin-top: 30px;
}
.buttonFooter i{
    padding-left: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttonFooter a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #212121;
    padding-right: 20px;

}
.footerList{
    margin-top:60px;
    list-style-type: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    
}
.footerList li:first-child{
    font-weight: bold;

}
.footerList li{
    margin-bottom: 8px;

}
.bottomFooter{
    height: 50px;
}
.bottomFooter i{
padding: 15px;
font-size: 20px;
}
.bottomFooter .row div:first-of-type{
    padding-top: 15px;
}

